html,body{
    margin: 25px; padding: 0;
}
body{
    background-color:white;
}
.Wholedocument{
    background-color:black; width: 100%;height:150%;box-sizing: border-box;
}
.ellamodels{
    color: white; font-size: medium; padding-left: 30px;
}
.dropdownclass{
    word-spacing: 5em; font-size: 12px;padding-right: 30px;float: right; color: white; text-decoration: none;
}
.dropdownclass a:hover{
color: chocolate;
transition: color 1s;
}
.dropdown{
    color: white; text-decoration-line: none; 
}
.dropdown:last-child{
    color: chocolate;
}
.firstline{
padding-top: 20px; position: relative;
}
.contactus{
    text-align: center;color: chocolate; font-size: 25px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-weight: lighter;
}
/*THIRD LINE*/
.bordertwo{
background-color: gray; width:auto;height: 70%;box-sizing:border-box; margin: 30px;color: white;
}
.bordertwotext{
    text-align: center;
}
/*ADDRESS AND INQUIRIES SECTION*/
.addressandinquiries{
    display: flex; text-align: center; padding-left:250px;padding-top: 15px; box-sizing:border-box;
}
.adresssection{
    width: 40%;
}
.inquiriessection{
    width: 40%;
}
/*THE 2 BOOK A MODEL SECTION*/
.bookamodelsections{
    display: flex; text-align: center; padding-left:250px;padding-top: 15px; box-sizing:border-box;
}
.bookamodelsection{
     width: 40%;
}
.book-a-model-section{
    width: 40%;
}
.bookamodelsection > p:first-child, .book-a-model-section > p:first-child{
    color: chocolate;
    font-weight: 800;
}
/*SUBSCRIBE SECTION*/
.subscribesection{
    background-color:chocolate;color: black; margin:0 auto;height: 220px; width: 65%;
}
.subscribesection p:first-child{
    padding-top:30px;
}
.subscribesection > p{
    text-align: center;
}
input{
    width: 300px;height: 30px;
}
button{
    color: white; background-color: black; width: 10%;height: 30px;
}
h1{
    font-size: 30px;
    color:white;
    position: absolute;
    top: -15px;
    right: 10px;
    display: none;
}
@media (max-width:730px){
h1{
    display: initial;
}    
.dropdownclass{
    display: none;
}
.firstline:hover .dropdownclass,.dropdownclass a{
    display: block;
}
.dropdownclass{
    position: relative;
}
.dropdownclass a{
    position: absolute;
}
}

