/* */ /* */ 
/* HEADER */
header{
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
}
img[alt="EL-NUR"]{
    border-radius: 50%;width: 60px; height: 60px;
    margin-left: 20px;
}
.header-text{
    float: right; margin-right:40px; 
    color: rgba(0, 0, 0, 0.582);
}
.header-text a{
    text-decoration: underline black;
    color: rgba(0, 0, 0, 0.582);
    
}
/* MAIN BODY */
main{
    background-color: rgba(0, 0, 0, 0.822);
    background-image: url(Model.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.static-ellamodels{
color: black;
font-size: 22px;
position: fixed;
margin-top: 15px;
}

.static-ellamodels span{
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 10px 0px 0px 10px;
    padding: 10px 0px 0px 10px;
    font-weight: 900;
    font-size: 30px;
}
.static-ellamodels span:hover{
    color: chocolate;
    transition: color 1s;
}
ul {
display: inline;
margin-left: 200px;

}
ul a{
    text-decoration: none; 
    margin-left: 80px;
    color: white;
    font-size: 20px;
}
ul a:hover{
    color: chocolate;
    transition: color 1s;
}
.active{
    color: chocolate;
}
.scrolling-section{
    padding: 70px 0px 10px 60px;
}
.hamburger{
    color: white;
    font-size: 30px;
    display: inline;
    padding-left: 380px;
    display: none;
}
.scrolling-section p:nth-child(1),.scrolling-section p:nth-child(2){
    color: chocolate; 
    font-size: 166px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}
.scrolling-section p:nth-child(3){
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin: 0px;
}
.scrolling-section-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    line-height: 25px;
    font-size: 20px;
}
.seeMoreButton{
    background-color: chocolate;
    border: none;
    width: 150px;
    height: 40px;
}
.seeMoreButton a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.627);
    font-size: 15px;
    
}
footer{
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 100px 0px 20px -50px;
    font-weight: 550;
}
/* @media all and (max-width:768px) {
    .seeMoreButton{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul{
        display: none;
    }
    .hamburger{
        display: initial;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .links-hamburger{
        position: relative;
    }
     a{
        position: absolute;
        top: 40px;
        margin: 50px;
     }    
}
 */
